h1{
    color:black;
    margin-left: 30px;

}

.header{font-style: italic;
    background-color: rgb(46, 201, 221);
    display:flex;
    justify-content: space-between;
    
}
.grid{font-style: italic;
    color:midnightblue;
    background-color:rgb(116, 187, 235);
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.footer{
    display:flex;
    justify-content: flex-end;
    margin-right: 30px;
}
.footer img{
    padding-right: 20px;
}
body{
background-color:navajowhite;
}
a:link{
    color: blue;
}
a:visited{
    color:maroon;
}
.menu{
    margin-right: 30px;
}
.menu a{
    margin-left: 20px;
}
.item{
    position: relative;
}
.item p{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 0;

}
.item:hover p{
    opacity:1;
}
.item:hover img{
    opacity:0.3;
}